*{margin: 0; padding: 0}
ul{list-style: none;}
a{text-decoration: none; color: #fff;}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  line-height: 23px;
  color: #fff;
  background-color: #000;
}
/*header 시작*/
#header{
 height: 265px;
 width: 100%;
 top: 0;
 left: 0;
 position: absolute;
}
.header_bor{
  height: 265px;
  border-bottom: 3px solid #5a5a5a;
}
.header_inner{ /*1320px*/
  width: 1320px;
  margin: auto;
  padding-top: 58px;
  position: relative;
}
.header_inner h1{ /*logo*/
  display: block;
  text-align: center;
}
.header_icon{
  position: absolute;
  top: 85px;
  right: 11px;
  opacity: 0.7;
}
.header_icon:hover{
  transform: scale(1.2);
  opacity: 1;
}
/*메뉴*/
.nav{
  width: 1320px;
}
.nav li a{
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0px;
  font-weight: 500;
}
.nav li a:hover{
  color: #e6a725;
}
/*icon_top 버튼 시작*/
.icon_top{position:fixed; bottom:50px; right:50px; display:none;}
.icon_top:hover{
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
  border-radius: 50%;
}
/*icon_top 버튼 끝*/
/*nav 끝*/

/*content*/
#content{
  margin-top: 265px;
  height: 1566px;
  background: url(../images/bg.jpg) no-repeat center top;
}
.content_inner{
  width: 1320px;
  margin: auto;
}

/*tab 시작*/
.tab{
  padding-top: 50px;
}
.tab_nav{
  display: block;
  width: 1320px;
  height: 37px;
  margin-bottom: 98px;
  font-size: 18px;
}
.tab_nav li{
  float: left;
  margin-right: 30px;
}
.tab_nav li a{
  display: block;
  padding: 9px 44px 9px 22px;
  border: #a1a1a1 2px solid;
  border-radius: 7px;
  opacity: 0.7;
  background: url(../images/icon_\ left.png) no-repeat 85% 50%;
}
.tab_nav li a:hover{
  border: #fbcd06 2px solid;
  color: #fbcd06;
  opacity: 1;
  background: url(../images/icon_\ left_Y.png) no-repeat 85% 50%;
}

.tab_nav li a.active{
  border: #fbcd06 2px solid;
  box-shadow: 2px 2px 5px #e6a725, -2px -2px 5px #e6a725,2px 2px 5px #e6a725 inset, -2px -2px 5px #e6a725 inset;
  color: #fbcd06;
  opacity: 1;
  background: url(../images/icon_\ left_Y.png) no-repeat 85% 50%;
}
/*tab 끝*/
/*tab_content*/
.tab_content{
  font-size: 15px;
  text-align: center;
}
.tab_content #tab01> ul> li{ /*#tab01 씀*/
  float: left;
  width: 330px;
  height: 369px;
  position: relative;
}
.tab_content a{
  display: inline-block;
}
.tab_content img{
  margin-bottom: 25px;
}
.tab_content .m{
  margin-bottom: 22px;
}
.tab_content h3{
  font-weight: 400;
}
.tab_content a:hover h3{
  color: #fbcd06;
  font-weight: 500;
}
.tab_content a:hover img{
  box-shadow: 5px 5px 20px rgba(255, 166, 0, 0.35), -5px -5px 20px rgba(255, 166, 0, 0.35);
}
/*tab_content 끝*/
/*tab_content hover*/
.tab_content .hover{
  position: absolute;
  top: 170px;
  left: 58px;
  width: 214px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  opacity: 0;
  transition: all 1s;
}
.tab_content a:hover .hover{
  opacity: 1;
}
.tab_content .hover ul{
  display: inline-block;
}
.tab_content .hover li{
  float: left;
}
.tab_content .hover_m{
  padding: 0px 20px;
}
/*hover 끝*/

.tab_content #tab02> ul> li{ /*#tab02 씀*/
  float: left;
  width: 330px;
  height: 369px;
  position: relative;
}
.tab_content #tab03> ul> li{ /*#tab03 씀*/
  float: left;
  width: 330px;
  height: 369px;
  position: relative;
}
/*content 끝*/

#box1{
  width: 1320px;
  margin: auto;
  text-align: center;
  font-size: 22px;
}
.box1_inner li{
  float: left;
}
.box1_inner{
  display: inline-block;
  padding-top: 55px;
}
.box1_inner a{
  color: #9f9f9f;
  padding: 5px 10px;
  margin: 0px 15px;
}
.box1_inner a:hover{
  color: #fff;
  text-decoration: underline;
}

/*footer*/
.footer_bor{
  border-top: 3px solid #5a5a5a;
}
#footer{
  width: 1320px;
  height: 317px;
  margin: auto;
  position: relative;

}
.footer_left{
  float: left;
  margin-left: 384px;
  margin-top: 114px;
}
.footer_left li{
  margin-right: 40px;
  float: left;
}
.footer_right{
  float: right;
  margin-top: 114px;
}
.footer_right li{
  float: left;
  margin-left: 15px;
}
#footer p{
  margin-left: 384px;
  clear: both;
  padding-top: 20px;
  line-height: 40px;
  font-size: 18px;
  opacity: 0.7;
}
#footer .footer_logo{
  position: absolute;
  top: 124px;
  left: 46px;
  opacity: 1;
}
#footer .footer_left a, .footer_right a{
  opacity: 0.7;
}
#footer a:hover{
  opacity: 1;
}
/*footer 끝*/